<footer class="site-footer">

  <div class="container">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><strong>Find Us</strong></li>
          <li>{{ site.address }}</li>
          <li><a href="https://www.openstreetmap.org/node/2470953886" target="_blank" class="btn btn-default">Get Location</a></li>
          <li><strong>Contact</strong></li>
          <li>Shijil: {{ site.shijil_phone }} | <a href="mailto:{{ site.shijil_email }}">{{ site.shijil_email }}</a></li>
          <li>Vikram Vincent: {{ site.vikram_phone }} | <a href="mailto:{{ site.vikram_email }}">{{ site.vikram_email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
