<div class="col-md-5 card card-small">
  {% if post.image %}
  <div class="card-image">
    <a href="{{ site.baseurl }}{{ post.url }}"><img class="image-rounded" src="{{ site.baseurl }}/images/{{ post.image }}"></a>
  </div>
  {% endif %}
  <div class="card-content">
    <div class="card-content-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </div>
    {% if post.image == nil %}
    <div class="card-content-excerpt">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.content | strip_html | truncatewords: 50 }}</a>
    </div>
    {% endif %}
    <div class="row card-content-details">
      <div class="col-md-3 card-content-category">
        {% if post.language == 'ka' %}
        <a href="{{ site.baseurl }}/ka/category/{{ post.category }}">{{ post.category }}</a>
        {% else %}
        <a href="{{ site.baseurl }}/category/{{ post.category }}">{{ post.category }}</a>
        {% endif %}
      </div>
      <div class="col-md-6 card-content-date">
        {% if post.startdate %}Starts on  {{ post.startdate | date_to_string }}{% else %}{{ post.date | date_to_string }}{% endif %}
      </div>
      <div class="col-md-3 card-content-more">
        <a href="{{ site.baseurl }}{{ post.url }}" class="more-button">MORE</a>
      </div>
    </div>
  </div>
</div>
